<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="OnBaseUserName" value="CORE_API"/>
		<add key="OnBasePassword" value="*****"/>
		<add key="OnBaseDataSource" value="OnBase_QA"/>
		<add key="UserGroups" value="PHRC  RCT Underwriters,PHRC  Supervisors and Administrators,PHRC  Special User,WCC WF Bill Processor Manager,WCC WF Bill Processor Supervisor,WCC MUD Support Staff - Cherry Hill,WCC MUD Support Staff Equipment,WCC MUD Support Staff - MUD Hospital,WCC MUD Support Staff Surgery,WCC MUD URC"/>
		<add key="DocTypesGroups" value="General Claims - ClaimCenter"/>
		<add key="OnBaseDatabaseConnection" value="Data Source=SQLD3CLUSV5\SQLQA3;Initial Catalog=OnbaseQA;Integrated Security=True"/>
		<add key="LogConnectionString" value="server=SQLD3CLUSV5\SQLQA3;database=OnbaseDataFeeds;Trusted_Connection=yes" />

	</appSettings>
	<connectionStrings/>
	<system.web>
		<!--to enable insertion of large files -->
		<httpRuntime executionTimeout="1200" maxRequestLength="102400" />
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<identity impersonate="false" />
		<authentication mode="Windows"/>
	</system.web>
	<!--configProtectedData is for encryption-->
	<configProtectedData>
		<providers>
			<add keyContainerName="ImagingService"
				 useMachineContainer="true"
				 description="Uses RsaCryptoServiceProvider to encrypt and decrypt"
				 name="ImagingService"
				 type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</configProtectedData>
</configuration>
