<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="OnBaseDaTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <appSettings>
      <add key="OnBaseUserName" value="CORE_API"/>
      <add key="OnBasePassword" value="Kontiki"/>
      <add key="OnBaseDataSource" value="OnBase_Test V10"/>
      <add key="OnBaseDatabaseConnection" value="Data Source=sqld3clusv4\sqldev3;Initial Catalog=Onbase_Test;Integrated Security=True"/>
	  <add key="DocumentType" value="GC  Legal"/>
      <add key="ImageServiceUrl" value="http://localhost/ImagingService/Service.asmx" />
	   <!--<add key="ImageServiceUrl" value="http://localhost/ServiceInterface/Service.asmx" />-->
	   <!--<add key="ImageServiceUrl" value="http://onb2iisd.njmgroup.com/imagingservice/service.asmx" />-->
   </appSettings>

   <applicationSettings>
      <OnBaseDaTest.Properties.Settings>
         <setting name="OnBaseDaTest_localhost_ImageService" serializeAs="String">
            <value>http://localhost/ImagingService/Service.asmx</value>
         </setting>
      </OnBaseDaTest.Properties.Settings>
   </applicationSettings>
</configuration>